<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
      <link rel="icon" href="/img/A.jpeg">
    <link rel="stylesheet" href="styles.css">
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> Not Found Page</h1>
    {{>header}}
    <div style="margin: 12px;">{{data}}</div>
    {{>footer}}
</body>

</html>